


<html lang="en">
{% include "header.html" %}
<body>
<section class="title_section">
    <div class="container-lg">


        <div class="container-lg">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <a class="navbar-brand title" href={{url_for('home')}}><span class="ps">PS</span>Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#Content" aria-controls="#Content" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"  id="Content">
                    <ul class="navbar-nav ms-auto me-0" >
                        <li class="nav-item">
                            <a class="nav-link" href={{url_for('home')}}>Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href={{url_for('photography')}}>Photography</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href={{url_for('videography')}}>Videography</a>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href={{url_for('music')}}>Music</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link $black" href="#footer">Contact</a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
    </div>
    <div class="container project">
        <h1 class="project_title">Project</h1>
        <div class="container project_thought">


            <q style="font-size:2.8rem;"><span style="font-size:2.8rem;"> Knowledge needs to be in a perfect place to create wonders! </span></q>



        </div>
    </div>


</section>
<section class="project_list">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <p class="project_name ms-auto">Encryption and Decryption of MorseCode using Python</p>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <nav>
                        <div class="nav nav-pills nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active  fs-3" id="nav-encryption-tab" data-bs-toggle="tab"
                                    aria-controls="nav-encryption" data-bs-target="#nav-encryption" type="button" role="tab" aria-selected="true">
                                Encryption
                            </button>
                            <button class="nav-link fs-3" id="nav-decryption-tab" data-bs-toggle="tab"
                                    aria-controls="nav-decryption" data-bs-target="#nav-decryption" type="button" role="tab" aria-selected="false">
                                Decryption
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active p-3" id="nav-encryption" role="tabpanel"
                             aria-labeledby="nav-encryption-tab">
                            <div class="container container-lg-12 container-sm-12 container-md-12">


                                <h1 class="morse_code_title">Encryption</h1>
                                <div>
                                    <form  class="form-floating" action="{{url_for('encryption')}}" method="post" >
                                        <textarea class="form-control" id="floatingTextarea" name="encrypted_data" ></textarea>
                                        <label for="floatingTextarea">Encrypted-data</label>
                                        <input type="submit" value="Submit"  class="btn btn-outline-primary submit_button">
                                    </form>
                                </div>
                                {% if data and not decryption: %}
                                <div class="alert alert-success" role="alert">
                                    Encrypted-Data is copied to your clipboard : {{data}}
                                </div>
                                {% elif data and decryption: %}
                                <div class="alert alert-success" role="alert">
                                    Decrypted-Data is copied to your clipboard : {{data}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade show p-3" id="nav-decryption" role="tabpanel"
                             aria-labeledby="nav-decryption-tab">
                            <div class="container container-lg-12 container-sm-12 container-md-12">
                                <h1 class="morse_code_title">Decryption</h1>
                                <div class="container">
                                    <form class="form-floating"  action="{{url_for('decryption')}}" method="Post">
                                        <textarea class="form-control" id="floatingTextarea1" name="decrypted_data"></textarea>
                                        <label for="floatingTextarea1">Decrypted-data</label>
                                        <input type="submit" value="Submit" name="decrypted_data" class="btn btn-outline-primary submit_button">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<!--        <div class="accordion-item">-->
<!--            <h2 class="accordion-header" id="flush-headingTwo">-->
<!--                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">-->
<!--                    <p class="project_name ms-auto">Encryption and Decryption of MorseCode using Python</p>-->
<!--                </button>-->
<!--            </h2>-->
<!--            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">-->
<!--                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="accordion-item">-->
<!--            <h2 class="accordion-header" id="flush-headingThree">-->
<!--                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">-->
<!--                    <p class="project_name ms-auto">Encryption and Decryption of MorseCode using Python</p>-->
<!--                </button>-->
<!--            </h2>-->
<!--            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">-->
<!--                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
<section class="project_contact" id="footer">
    <div class="container container-lg-12 container-sm-12 container-md-12">
        <div class="container container-lg-12 container-sm-12 container-md-12 social_footer ">
            <h1 class="contact_title">Contact Me</h1>
            <div class="row  row-cols-2 row-cols-lg-4 gx-4 g-lg-4 align-items-start social_row">
                <div class="col">
                    <a class="social" href="https://www.linkedin.com/in/poornesh-shiva-9529a0215/"> <i class="fa fa-brands fa-linkedin fa-3x "></i></a><br>
                    <p class="social_name">Linkedin</p>
                </div>
                <div class="col">
                    <a class="social" href="https://github.com/PoorneshShiva"><i class="fa fa-brands fa-github fa-3x "></i></a><br>
                    <p class="social_name">Github</p>
                </div>
                <div class="col">
                    <a class="social" href="https://twitter.com/2strokelover46"><i class="fa fa-brands fa-twitter-square fa-3x "></i></a><br>
                    <p class="social_name">Twitter</p>
                </div>
                <div class="col">
                    <a class="social" href="mailto:poorneshshiva@gmail.com"><i class="fa fa-solid fa-envelope fa-3x"></i></a>
                    <br>
                    <p class="social_name">Mail</p>
                </div>

            </div>

            <p class="copyright">© Copyright 2021 PsPortfolio</p>
        </div>
    </div>

</section>
</body>
</html>