


<html lang="en">
{% include "header.html" %}
<body>
<section class="title_section">
    <div class="container-lg">


        <div class="container-lg">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <a class="navbar-brand title" href={{url_for('home')}}><span class="ps">PS</span>Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#Content" aria-controls="#Content" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"  id="Content">
                    <ul class="navbar-nav ms-auto me-0" >
                        <li class="nav-item">
                            <a class="nav-link" href={{url_for('home')}}>Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href={{url_for('photography')}}>Photography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{url_for('music')}}>Music</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{url_for('project')}}>Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link $black" href="#footer">Contact</a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
    </div>
    <div class="container videography">
        <h1 class="videography_title">Videography</h1>
        <div class="container videography_thought">


            <q style="font-size:2.8rem;"><span style="font-size:2.8rem;"> Experience the nature where everyone cannot afford! </span></q>



        </div>
    </div>

</section>
<section class="videography_contact" id="footer">
    <div class="container container-lg-12 container-sm-12 container-md-12">
        <div class="container container-lg-12 container-sm-12 container-md-12 social_footer ">
            <h1 class="contact_title">Contact Me</h1>
            <div class="row  row-cols-2 row-cols-lg-4 gx-4 g-lg-4 align-items-start social_row">
                <div class="col">
                    <a class="social" href="https://www.linkedin.com/in/poornesh-shiva-9529a0215/"> <i class="fa fa-brands fa-linkedin fa-3x "></i></a><br>
                    <p class="social_name">Linkedin</p>
                </div>
                <div class="col">
                    <a class="social" href="https://github.com/PoorneshShiva"><i class="fa fa-brands fa-github fa-3x "></i></a><br>
                    <p class="social_name">Github</p>
                </div>
                <div class="col">
                    <a class="social" href="https://twitter.com/2strokelover46"><i class="fa fa-brands fa-twitter-square fa-3x "></i></a><br>
                    <p class="social_name">Twitter</p>
                </div>
                <div class="col">
                    <a class="social" href="mailto:poorneshshiva@gmail.com"><i class="fa fa-solid fa-envelope fa-3x"></i></a>
                    <br>
                    <p class="social_name">Mail</p>
                </div>

            </div>

            <p class="copyright">© Copyright 2021 PsPortfolio</p>
        </div>
    </div>

</section>
</body>
</html>